
/* Page Styling */
.manualInsert {
  padding: 0 2rem;
}

.pageTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.pageTitle h1 {
  margin-right: auto;
}

.pageTitle button {
  height: 1.5rem;
  margin-right: 0.25rem;
}



/* Table Styling */
.activityTable {
  width: 100%;
  padding: 1rem;

  border: 1px solid lightgray;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  background-color: white;
}

.activityTable td, .activityTable th {
  text-align: right;
}
