.buttonDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

.buttonBack {
  height: 50px;
  width: 75px;
}

.buttonForward {
  height: 50px;
  width: 75px;
}

.imageDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

.tutImg {
  display: block;
  width: 45%;
  height: 35%;
}

.tutText {
  display: flex;
  justify-content: space-evenly;
}
