.dropdown {
  display: flex;
}

.workoutElement {
  background-color: white;
  height: 400px;
  width: 80%;
  margin: 0px auto;
  margin-top: 10px;
  border-radius: 20px;
}

.buttonAddWorkout {
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: white;
  border-radius: 15px;
  border: 2px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  margin-left: 10%;
  margin-top: 10px;
}

.buttonAddWorkout:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

.buttonAddWorkout:active {
  position: relative;
  top: 1px;
}

.buttonCloseWorkout {
  margin-top: 10px;
  position: inline;
  background-color: white;
  border: none;
  margin-right: 10px;
  float: right;
}

/* Radiogroup */
.control {
  font-family: arial;
  display: inline;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: undefinedpx;
}

.control-group {
  display: flex;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
  background: #cccccc;
}

.control input:checked~.control_indicator {
  background: #0404b4;
}

.control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
  background: #0e6647d;
}

.control input:disabled~.control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked~.control_indicator:after {
  display: block;
}

.control-radio .control_indicator {
  border-radius: 50%;
}

.control-radio .control_indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
  transition: background 250ms;
}

.control-radio input:disabled~.control_indicator:after {
  background: #7b7b7b;
}

.control-radio .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

@keyframes s-ripple {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  20% {
    transform: scale(1);
  }

  100% {
    opacity: 0.01;
    transform: scale(1);
  }
}

@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.control-radio input+.control_indicator::before {
  animation: s-ripple 250ms ease-out;
}

.control-radio input:checked+.control_indicator::before {
  animation-name: s-ripple-dup;
}
