body {
  background-color: #f7f7f7;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.flex-item {
  border-radius: 20px;
  width: 250px;
  height: 250px;
  background-color: white;
  margin-top: 50px;
  margin-left:20px;
  margin-right:20px;
  /* font-size: 60px;*/
  text-align: center;
  /* box shadow bei allen seiten einfügen */
  box-shadow: 2px 2px 2px 1px gray;
}

.divAllEl {
  margin: auto;
  width: 90%;
}

.analyticalEmoji {
  font-size: 85px;
  text-align: center;
}

.analyticalHeader {
  font-size: 30px;
  text-align: center;
}

.analyticalResult {
  font-size: 45px;
  text-align: center;
}

.divLabel {
  margin-top: 15px;
}
