body {
  background-color: #f7f7f7;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.flex-item {
  border-radius: 20px;
  width: 190px;
  height: 190px;
  background-color: white;
  margin-top: 50px;
  margin-left:10px;
  margin-right:10px;
  font-size: 60px;
  text-align: center;
}

.divAllEl {
  margin: auto;
  width: 90%;
}
